<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" class="text-[70%]">
    <head>
      <meta charset="UTF-8" />
      <title>予定一覧</title>
      <!-- Google Font -->
      <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
      <!-- flatpickr CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
      <!-- DataTables CSS -->
      <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
      <!-- Tailwind -->
      <link rel="stylesheet" th:href="@{/css/output.css}">
      <!-- favicon -->
      <link rel="icon" type="image/png" th:href="@{/img/favicon.ico}">
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
      <!-- Day.js -->
      <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
      <!-- DataTables -->
      <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
      <!-- flatpickr -->
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
      <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
      <!-- 自作JS -->
      <script src="/js/sprout-datatables.js"></script>
      <script src="/js/sprout-util.js"></script>
      <script src="/js/sprout-message.js"></script>
      <script src="/js/sprout-tags.js"></script>
      <script src="/js/itemUpdateModal.js"></script>
      <script src="/js/sproutTop.js"></script>
    </head>

<body class="font-body min-h-screen px-8 py-6 dark:bg-gray-900 dark:text-blue-300"
      th:style="|background-image: url('@{/img/top_bg.png}'); background-size: cover; background-position: center; background-repeat: no-repeat;|">
  <div id="sproutTopRoot">
    <!-- タイトル -->
    <h1 class="mx-auto w-70">
      <img th:src="@{/img/title.png}" alt="Sprout" class="w-full h-auto">
    </h1>
    <!-- メイン画面 -->
    <div class="flex items-center justify-between mb-2">
      <form method="get" action="/" class="flex w-full">
        <!-- 新規登録ボタン-->
        <button id="createTaskModalButton" type="button"
          class="mr-2 px-3 py-1.5 bg-blue-500 text-white rounded hover:bg-blue-600">
          新規
        </button>
        <!-- 完了済み表示切替ボタン -->
        <button
          id="toggleCompletedBtn"
          type="button"
          class="px-3 py-1.5 bg-blue-600 text-white rounded
                 hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-400
                 dark:bg-blue-500 dark:hover:bg-blue-300">
          完了済みを表示
        </button>
          <!-- 検索フォーム -->
          <div class="flex ml-auto">
            <input
              id="taskSearchInput"
              type="text"
              placeholder="内容で検索"
              autocomplete="off"
              class="w-64 px-3 py-1.5 border border-r-0
                     rounded-l-md rounded-r-none
                     focus:outline-none focus:ring-2 focus:ring-blue-400
                     dark:bg-gray-800 dark:border-gray-600" />
            <button
              id="taskSearchBtn"
              type="button"
              class="px-3 py-1.5 bg-blue-600 border border-blue-600 text-white rounded-r-md rounded-l-none hover:bg-blue-400">
              検索
            </button>
          </div>
      </form>
    </div>
    <!-- 隠し項目 -->
    <input type="hidden" th:field="*{id}" th:object="${sproutItemListForm}">
    <!-- 予定一覧テーブル -->
    <div class="overflow-x-auto mb-8">
      <table id="sproutTable" class="table-fixed  border-collapse text-center min-w-full border border-blue-300
      bg-white shadow rounded-lg dark:bg-gray-800"></table>
    </div>
    <!-- 植物育成エリア -->
    <div id="sproutArea" class="relative min-h-[26rem] w-full flex items-center">
      <!-- 左ボタン -->
      <button
        id="sproutPrev"
        class="absolute left-0 top-1/2 -translate-y-1/2 z-10 bg-white/80 dark:bg-gray-700 rounded-full p-2 shadow hover:bg-white">
        ＜
      </button>
      <!-- 画像コンテナ（viewport） -->
      <div class="overflow-hidden mx-auto"
           style="width: calc((16rem + 0.75rem) * 5 - 0.75rem);">
        <ul id="sproutList"
            class="flex transition-transform duration-300">
        </ul>
      </div>
      <!-- 右ボタン -->
      <button
        id="sproutNext"
        class="absolute right-0 top-1/2 -translate-y-1/2 z-10 bg-white/80 dark:bg-gray-700 rounded-full p-2 shadow hover:bg-white">
        ＞
      </button>
    </div>
  </div>
</body>
</html>